{% extends "base.html" %}

{% block title %}ETH Vote | Dashboard{% endblock %}
{% block header %}ETH Vote | User Dashboard{% endblock %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="login-panel panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Available Ballots</h3>
                    </div>
                    <div class="panel-body">
                        <table style="width:100%">
                            <tr>
                                <th>User ID</th>
                                <th>Ballot ID</th>
                                <th>Time Registered</th>
                            </tr>
                            {% for row in registerd_ballots_list %}
                            <tr>
                                <td> {{ row.user_id }}</td>
                                <td> {{ row.ballot_id }}</td>
                                <td> {{ row.timestamp }}</td>
                            </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
